extends layout

block style
  style.
    rect {
      fill: none;
      pointer-events: all;
    }

    .user {
      fill: #6cc644;
    }

    .data {
      fill: #bd2c00;
    }

    .tag {
      fill: #6e5494;
    }

    .link {
      stroke: #aaa;
    }

    text {
      font: 10px sans-serif;
      pointer-events: none;
    }

    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%
    }

    svg {
      height: 100%;
      width: 100%
    }

block content
  != body

block scripts
  script.
    if (!Function.prototype.bind) {
      Function.prototype.bind = function(oThis) {
        if (typeof this !== 'function') {
          // closest thing possible to the ECMAScript 5
          // internal IsCallable function
          throw new TypeError('Function.prototype.bind - what is trying to be bound is not callable');
        }
        var aArgs   = Array.prototype.slice.call(arguments, 1),
            fToBind = this,
            fNOP    = function() {},
            fBound  = function() {
              return fToBind.apply(this instanceof fNOP
                  ? this
                  : oThis,
                  aArgs.concat(Array.prototype.slice.call(arguments)));
            };
        fNOP.prototype = this.prototype;
        fBound.prototype = new fNOP();
        return fBound;
      };
    }
  script(src='js/vendor.js')
  script(src='js/bundle.js')
